:root {
    --primary-color: #000000;
    --background-color: #000000;
    --navbar-color: #e23636;
    --hover-color: rgb(68, 150, 170);
    --heart-color: #a49ea1;
} 


body {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    font-size: 2.5em;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-evenly;
}

#nav-left {
    display: flex;
    margin-left: -20px;
}

#nav-left button {
    border-style: none;
    background-color: inherit;
    padding: 0;
}

button {
    margin-left: 10px;
}

#nav-left button i {
    color: var(--primary-color);
}

#nav-right {
    display: flex;
}

#nav-right button {
    border-style: none;
    background-color: inherit;
    padding: 0;
}

#nav-right button i {
    color: var(--primary-color);
}

#header-heart {
    margin-left: 10px;
}

#header-heart:hover {
    color: yellow;
}

#nav-right button i:hover {
    color: yellow;
}
.fa-brands:hover {
    color: var(--hover-color);
}

.fa-gratipay {
    font-size: 2rem;
    }
    
    #heart-button {
        color: var(--heart-color);
        border-style: none;
    }
    
    .card-columns {
        column-count: 4;
        column-gap: 0.1rem;
        orphans: 1;
        widows: 1;
        break-inside: avoid;
    }
    
    footer {
        margin-top: auto;
        background-color: #212529d6 !important;
    }
    
    a:hover,
    a:active {
        color: white;
        background-color: #ED462F;
        box-shadow: 0 1rem 2rem rgba(black, .4);
        transform: rotate(5deg) scale(1.2);
        padding: 2px;
        box-sizing: border-box;
    }
    
    h5:hover,
    h5:active {
        cursor: pointer;
    }

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--background-color) !important;
    transform: translate(-50%, -50%);
}
